---
layout: page
title: Archives
permalink: /archives/
---

Past talks with no existing slides or videos

<p>&nbsp;</p>

{% assign sorted-archives = site.data.archives | sort: 'Date' | reverse %}
{% assign last-year = nil %}
{% for archive in sorted-archives %}
	{% assign current-year = archive.Date | date: "%Y" %}
	{% if current-year != last-year %}
		<a href="#{{ current-year }}"> <h1 id="{{ current-year }}">{{ current-year }}</h1></a>
		<hr>
		<p>&nbsp;</p>
		{% assign last-year = current-year %}
	{% endif %}

	<table class="presentation-table">
		{% for item in archive %}
			<tr>
				{% if item[0] == "DayKnown" %}
					{% continue %}
				{% endif %}

				<td class="left-pres-cell">{{ item[0] }}:</td>
				{% case item[0] %}
					{% when "URL" %}
						<td><a href="{{ archive.URL }}">Source</a></td>
					{% when "Source" %}
						<td>{{ archive.Source }}</td>
					{% when "Date" %}
						{% if archive.DayKnown == false %}
							<td>{{ archive.Date | date: "%B, %Y" }}</td>
						{% else %}
							<td>{{ archive.Date | date: "%B %-d, %Y" }}</td>
						{% endif %}

					{% else %}
						<td>{{ item[1] }}</td>
				{% endcase %}
			</tr>
		{% endfor %}
	</table>
{% endfor %}
