---
layout: page
title: Presentations
permalink: /presentations/
---

For talks without existing presentations, see our <a href="{{ site.baseurl }}/archives">archives</a>.

<p>&nbsp;</p>

{% assign sorted-presentations = site.data.presentations | sort: 'Date' | reverse %}
{% assign last-year = nil %}
{% for presentation in sorted-presentations %}
	{% assign current-year = presentation.Date | date: "%Y" %}
	{% if current-year != last-year %}
		<a href="#{{ current-year }}"> <h1 id="{{ current-year }}">{{ current-year }}</h1></a>
		<hr>
		<p>&nbsp;</p>
		{% assign last-year = current-year %}
	{% endif %}

	<table class="presentation-table">
		{% for item in presentation %}
			<tr>
				{% if item[0] == "DayKnown" %}
					{% continue %}
				{% endif %}

				<td class="left-pres-cell">{{ item[0] }}:</td>
				{% case item[0] %}
					{% when "Path" %}
						<td><a href="{{ presentation.Path | prepend: site.baseurl }}">Download</a></td>
					{% when "External" %}
						<td><a href="{{ presentation.External }}">Link</a></td>
					{% when "Date" %}
						{% if presentation.DayKnown == false %}
							<td>{{ presentation.Date | date: "%B, %Y" }}</td>
						{% else %}
							<td>{{ presentation.Date | date: "%B %-d, %Y" }}</td>
						{% endif %}
					{% else %}
						<td>{{ item[1] }}</td>
				{% endcase %}
			</tr>
		{% endfor %}
	</table>
{% endfor %}
